{% extends 'registration_base.html' %}

{% block content %}
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-body" style="text-align: center;">
                    <h2 class="sub-title">Error 404 </h2>
                    <p>This not the page you are looking for </p>
                     <p><a href="/">Click here to go back to Home </a></p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- end document-->