{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Code Test</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'table/table.css' %}">


</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img src="" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item{% if 'voting' not in request.path %} active{% endif %}"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item{% if 'voting' in request.path %} active{% endif %}"><a class="nav-link" href="{% url 'voting' %}">Voting</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
                            </ul>
                    </div>
                    </div>
            </nav>

        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!--================Header Menu Area =================-->

{% block content %}{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--ajax favourite-->
<script>
		function vote(id){
			$.ajax({
				   url: `{% url 'vote' %}?id=${id}`,
				   type: 'get',
				   contentType: 'application/json',
				   dataType: 'json',
				   cache: false,
				   processData: false,
				   contentType: false,
				   success: function(response){
					   if (response.status == 'success') {
						$('#btn_vote_'+id).text(response.action);
                        $('#user_'+ id + '_vote_count').text(response.count);
					   }
					   else if (response.status == 'failed') {
					    alert('something went wrong');
					   }
					}
			});
    	}
</script>
    <script>
        function deleteUser(id){
			$.ajax({
				   url: `{% url 'delete' %}?id=${id}`,
				   type: 'get',
				   contentType: 'application/json',
				   dataType: 'json',
				   cache: false,
				   processData: false,
				   contentType: false,
				   success: function(response){
					   if (response.status == 'success') {
                        $('#tr_'+ id).remove();
                        $('#close').click();
					   }
					   else if (response.status == 'failed') {
					    alert('something went wrong');
					   }
					}
			});
    	}
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'table/filtable.js' %}"></script>
<script>
$(function(){
	// Basic Filtable usage - pass in a div with the filters and the plugin will handle it
	$('#data').filtable({ controlPanel: $('.table-filters') });
});
</script>

</body>
</html>