{% extends 'registration_base.html' %}

{% block content %}
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <!--<div class="card-heading"></div>-->
                <div class="card-body">
                    <h2 class="title">Login</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="input--style-2" type="text" value="{{username}}" placeholder="Username" name="username">

                        </div>
                        <div class="error">{{form.username.errors.as_text}}</div>
                        <div class="input-group">
                            <input class="input--style-2" value="{{password}}" type="password" placeholder="Password" name="password">
                        </div>
                        <div class="error">{{form.password.errors.as_text}}</div>

                        <div class="error">{{form.non_field_errors.as_text}}</div>
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Login</button>

                        </div>
                        <br>
                        Don't have an account? <a href="/signup">click here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- end document-->