{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Title Page-->
    <title>CodeTest</title>

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'registration/vendor/select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'registration/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet">

    <!-- Main CSS-->
    <link href="{% static 'registration/css/main.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}{% endblock %}
 <!-- Jquery JS-->
    <script src="{% static 'registration/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'registration/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'registration/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'registration/js/global.js' %}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>