{% extends 'registration_base.html' %}

{% block content %}
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <!--<div class="card-heading"></div>-->
                <div class="card-body">
                    <h2 class="title">Registration</h2>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="row row-space">
                            <div class="col-2">
                              <div class="input-group">
                                  <input class="input--style-2" type="text" value="{% if form.username.value %}{{form.username.value}}{% endif %}" placeholder="Username" name="username">
                              </div>
                              <div class="error">{{form.username.errors.as_text}}</div>
                            </div>
                            <div class="col-2">
                              <div class="input-group">

                                  <input class="input--style-2" value="{% if form.email.value %}{{form.email.value}}{% endif %}" type="text" placeholder="Email" name="email">
                              </div>
                              <div class="error">{{form.email.errors.as_text}}</div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                              <div class="input-group">
                                  <input class="input--style-2" type="text" value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}" placeholder="Name" name="first_name">
                              </div>
                              <div class="error">{{form.first_name.errors.as_text}}</div>
                            </div>
                            <div class="col-2">
                              <div class="input-group">

                                  <input class="input--style-2" value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}" type="text" placeholder="Surname" name="last_name">
                              </div>
                              <div class="error">{{form.last_name.errors.as_text}}</div>

                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" value="{% if form.date_of_birth.value %}{{form.date_of_birth.value}}{% endif %}" type="text" placeholder="Date of Birth" autocomplete="off" name="date_of_birth">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                                <div class="error">{{form.date_of_birth.errors.as_text}}</div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-2" type="password" placeholder="Password" name="password">
                                </div>
                                <div class="error">{{form.password.errors.as_text}}</div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-2" type="password" placeholder="Confirm Password" name="password2">
                                </div>
                                <div class="error">{{form.password2.errors.as_text}}</div>
                            </div>
                        </div>
                        <div class="error">{{form.non_field_errors.as_text}}</div>
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Signup</button>
                        </div>
                        <br>
                        Already have an account? <a href="/login">click here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- end document-->
