{% extends 'base.html' %}
{% load static %}
{% block content %}

 <section class="blog_area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-5 mb-lg-0 ">
          {# {% if users %} #}
            <div class="table-filters">
              <form>
                <div class="row">
                  <div class="col">
                    <h4>Clients List</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
              		  <input type="text" class="form-control" id="filter-user" placeholder="Search" data-filter-col="1,2,3,4">
                  </div>
                  <div class="col">
                    {% if request.user.is_superuser %}
                    	<a class="download btn btn-secondary btn-sm" href="{% url 'download' %}" target="_blank"> Export Data </a>
                    	<a class="download btn btn-secondary btn-sm" href="{% url 'add-client' %}"> Add Client</a>
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  </br>
                </div>
              </form>
            </div>

            <div class="table-responsive-xl">
              <table id="data" class="table table-hover ">
              <thead  class="thead-dark">
              	<tr>
              		<th scope="col">Image</th>
              		<th scope="col">Username</th>
              		<th scope="col">Name</th>
              		<th scope="col">Surname</th>
              		<th scope="col">Email</th>
              		<th scope="col">Date of Birth</th>
              		<th scope="col">Age</th>
              		{% if request.user.is_superuser %}
              		<th></th>
              		{% endif %}
              	</tr>
              </thead>
              <tbody>

              {% for user in users %}
                {% if not user.is_superuser %}
                  {% if user.is_client_user %}
                  	<tr id="tr_{{user.id}}">
                  		<td><img width="50" height="50" src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static 'img/default.png' %}{% endif %}"> </td>
                  		<td>{{user.username}}</td>
                  		<td>{{user.first_name}}</td>
                  		<td class="name">{{user.last_name}}</td>
                  		<td>{{user.email}}</td>
                  		<td>{{user.date_of_birth}}</td>
                  		<td>{{user.get_age}}</td>

                  		{% if request.user.is_superuser %}
                  		  <td><i class="fas fa-trash" href="#myModal{{user.id}}" class="trigger-btn" data-toggle="modal"></i></td>
                      {% endif %}
                    </tr>
                  {% endif %}
                {% endif %}

                    <div id="myModal{{user.id}}" class="modal fade">
                    	<div class="modal-dialog modal-confirm">
                    		<div class="modal-content">
                    			<div class="modal-header">
                            <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    			</div>
                    			<div class="modal-body">
                    				<p>Do you really want to delete this client?</p>
                    			</div>
                    			<div class="modal-footer">
                    				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    				<button type="button" class="btn btn-danger" onclick="deleteUser('{{user.id}}')" data-dismiss="modal">Delete</button>
                    			</div>
                    		</div>
                    	</div>
                    </div>
              {% empty %}
                <tr>
                  <td colspan="7" style="text-align:center; color: #c3c3c3; font-size:22px;">No client users for showing!</td>
                </tr>
              {% endfor %}

              </tbody>
              </table>
            </div>
				</div>
			</div>
		</div>
 </section>

{% endblock %}
