{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="blog_area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar row">

                      {% for user in users %}
                        <article class="blog_item col-lg-4">
                          <div class="blog_item_img">
                              <img class="card-img rounded-0" src="{% if user.profile_image %}{{ user.profile_image.url }}{% endif %}" alt="">
                              <a class="blog_item_date" style="position: initial; color:white; padding-bottom: 25px;">
                                <p>Total Votes:
                                  <span id="user_{{user.id}}_vote_count">{% if user.candidate.all.0.voters.all.count > 0 %}{{ user.candidate.all.0.voters.all.count }}{% else %}0{% endif %}</span>
                                  {% if not request.user.is_client_user  %}
                                   
                                    {% if user.candidate.all.0.voters.all.count >= 10 %}
                                     <button style="float: right; display: inline-grid;"
                                              class="btn btn-danger"
                                              onclick="vote({{user.id}})"
                                              id="btn_vote_{{user.id}}" disabled>
                                      {% else %}
                                      <button style="float: right; display: inline-grid;"
                                              class="btn btn-danger"
                                              onclick="vote({{user.id}})"
                                              id="btn_vote_{{user.id}}">
                                      {% endif %}                                      
                                                  {% for u in user.candidate.all  %}
                                                      {% if u.voters.all.count >= 10 %}
                                                          <span class="">voting closed</span>
                                                      {% else %}
                                                          {% if request.user in u.voters.all %}
                                                              <i class="far fa-thumbs-down"></i>
                                                          {% else %}
                                                              <i class="far fa-thumbs-up"></i>
                                                          {% endif %}
                                                      {% endif %}
                                                  {% empty %}
                                                      <i class="far fa-thumbs-up"></i>
                                                  {% endfor %}
                                      </button>
                                  {% endif %}
                                </p>
                              </a>
                          </div>
                          <div class="blog_details" style="padding: 15px 15px 15px 15px;">
                            <h2>{{user}}</h2>
                            <div class="text-left"></div>
                          </div>
                        </article>
                      {% empty %}
                        <h2 style="margin:0 auto; margin-top:10%;text-align:center; color: #c3c3c3;">No data available for voting!</h2>
                      {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
